.details {
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  $self: &;

  @media screen and (min-width: 1280px) {
    width: 50%;
  }

  &__wrapper {
    width: 100%;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
  }

  &__wrapper_disable {
    left: -110vw;
    transition: all 0.5s ease-in-out;
    pointer-events: none;

    @media screen and (min-width: 1280px) {
      left: 0;
      top: -10vh;
      transform: scale(1.2);
      opacity: 0;
      pointer-events: none;
    }
  }

  &__info {
    text-align: left;

    #{$self}__header {
      padding: spacing(1) spacing(2);
      background-color: $color-dark-green;
      color: $color-white;

      p {
        margin-block-start: spacing(1);
        margin-block-end: spacing(1);
      }

      #{$self}__name {
        font-family: 'AvenirNext-Bold', sans-serif;
        font-size: $font-size-middle;
      }

      #{$self}__category {
        font-family: 'AvenirNext', sans-serif;
        font-size: $font-size-small;
      }
    }

    #{$self}__address {
      display: flex;
      flex-direction: column;
    }

    #{$self}__description {
      padding: 0 spacing(2);
      font-family: 'AvenirNext', sans-serif;
      font-size: $font-size-middle;
      color: $color-grey;

      p {
        margin-block-start: spacing(1);
        margin-block-end: spacing(1);
        margin-bottom: 26px;

        &:first-of-type {
          margin-top: 16px;
        }
      }

      #{$self}__twitter {
        text-decoration: none;
        color: $color-black;
        transition: all 0.15s ease-in-out;

        &:hover {
          color: $color-green;
        }
      }
    }
  }
}

.map-marker {
  font-family: 'Avenir-Regular', sans-serif;
  color: $color-white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $color-white;
  width: 10px;
  height: 10px;
  background: linear-gradient(91deg, $color-green, $color-dark-green);
  background-size: 600%;
  -webkit-animation: grad 6s ease infinite;
  -moz-animation: grad 6s ease infinite;
  animation: grad 6s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@-moz-keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
