.details {
  z-index: 9;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  $self: &;

  @media screen and (min-width: 1280px) {
    width: 50%;
  }

  &__wrapper {
    width: 100%;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__info {
    text-align: left;
    #{$self}__header {
      padding: spacing(1) spacing(2);
      background-color: $color-green;
      color: $color-white;

      p {
        margin-block-start: spacing(1);
        margin-block-end: spacing(1);
      }

      #{$self}__name {
        font-family: 'AvenirNext-Bold', sans-serif;
        font-size: $font-size-middle;
      }
      #{$self}__category {
        font-family: 'AvenirNext', sans-serif;
        font-size: $font-size-small;
      }
    }
    #{$self}__info {
      padding: 0 spacing(2);
      font-family: 'AvenirNext', sans-serif;
      font-size: $font-size-middle;
      color: $color-grey;

      #{$self}__phone,
      #{$self}__twitter {
        margin-top: 26px;
      }

      #{$self}__twitter {
        text-decoration: none;
      }
    }
  }
}

.map-marker {
  font-family: 'Avenir-Regular', sans-serif;
  font-size: 14px;
  color: white;

  display: flex;
  align-items: center;

  border-radius: 50%;
  border: 8px solid white;
  width: 80px;
  height: 80px;
  transform: scale(0.4);

  &:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -148px;
    left: 23px;
    border: 25px solid transparent;
    border-top: 35px solid #fff;
  }

  background: linear-gradient(91deg, #43e895, #34b379);
  background-size: 600% 600%;

  -webkit-animation: grad 12s ease infinite;
  -moz-animation: grad 12s ease infinite;
  animation: grad 12s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@-moz-keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
@keyframes grad {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 46%;
  }
  100% {
    background-position: 0% 55%;
  }
}
