@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../fonts/AvenirNext-Regular.ttf");
}
@font-face {
  font-family: "AvenirNext-Bold";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../../fonts/AvenirNext-DemiBold.ttf");
}
